---
title: Marcus G. Miller | Choreographer
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="description" content="Page description">
        <!-- favicons https://realfavicongenerator.net/ -->
        <!-- og image -->
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href='#'></a>
                    </li>
                    <li>
                        <a href='#'></a>
                    </li>
                    <li>
                        <a href='#'></a>
                    </li>
                    <li>
                        <a href='#'></a>
                    </li>
                </ul>
            </nav>
            <h1>I believe you can dance</h1>
            <a class='button' href='#'>Book Workshop</a>
        </header>
        {{ content }}
        <footer>
            <div>
                <h4>Thank you for your interest in Art!</h4>
                <p>© 2004 – {{year}} Marcus G. Miller</p>
                <a href="mailto:datenschutz@marcus-miller.at">
                    datenschutz@marcus-miller.at
                </a>
            </div>
            <a href="#">Imprint & Privacy</a>
        </footer>
        <script src='/js/main.js'></script>
    </body>
</html>