$myOrange: #d5874c;
$myDarkGray: #363636;
$iconGray: #595959;
$iconNumberGray: #d5d5d5;

main {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  a.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 38px;
    width: 16rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: solid 1px #f4a76c;
    text-align: center;
    vertical-align: middle;
  }

  #workshops {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    > * {
      padding-left: 20px;
      padding-right: 20px;
    }

    #workshop-intro-text {
      margin-top: 80px;
    }

    p {
      color: $myDarkGray;
      font-size: 16px;
      font-weight: 600;
    }

    h2 {
      color: $myOrange;
      font-size: 28px;
      font-weight: 300;
    }

    .level {
      position: relative;
      padding: 2rem;
      padding-top: 8rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: $myDarkGray;
      color: white;

      p {
        color: white;
      }

      .dancer-container {
        top: -3rem;
        position: absolute;
        align-self: center;

        .dancer-icon {
          position: relative;
          align-self: center;
          padding: 2rem;
          background-color: $iconGray;
          border-radius: 100%;
          height: fit-content;
          width: fit-content;
          z-index: 100;

          img {
            height: 6rem;
          }
        }
        .level-number {
          display: flex;
          position: absolute;
          top: -1.3rem;
          right: -1.3rem;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 100%;
          z-index: 99;
          background-color: $iconNumberGray;

          p {
            align-self: center;
            align-content: center;
            margin: auto;
            font-size: 1.8rem;
            color: $myOrange;
          }
        }
      }

      > img:first-child {
        margin-bottom: 30px;
      }

      > img,
      blockquote {
        align-self: center;
      }

      h3 {
        color: $myOrange;
        font-size: 22px;
        font-weight: 300;
      }

      p {
      }
    }
  }

  #about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    #marcus-portrait {
      height: 35rem;
      overflow: hidden;

      img {
        height: 50rem;
      }
    }

    #about-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;

      .super-headline {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@include breakpoint(0, $mobile) {
  main {
  }
}

@include breakpoint($desktop) {
  main {
  }
}
